<div class="carousel">
  <% @cats.each do |cat| %>
    <%= erb :"cats/_each_cat", layout: false, locals: { cat: cat } %>
  <% end %>
</div>

<div class="col s12 m7">
  <h3 class="header">About Cute Cats:</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="http://cdn1-www.cattime.com/assets/uploads/gallery/maine-coon-cats-and-kittens/maine-coon-cats-and-kittens-1.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Cute cats is constantly expanding it's database of adorable cats. It pulls only the most adorable pictures from the best cat picture repository ever, Reddit! It is an excellent stress reliever while taking long assesments at DBC. </p>
      </div>
    </div>
  </div>
</div>
